/* muss mit link verlinkt werden im header */

/* Schrift ändern geht über import von google fonts, da kann man sich dann was aussuchen*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Baloo 2";
    
}

header{
    text-align: center;
    color: #ffffff;
    background-color: #043552;
    padding: 20px;
}
header .pfp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #022719; 
    background-image: url(./../img/Blaubaer_und_die_Zwergpiraten.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #0a4263;
    padding: 40px

}

header h1{
    font-size: 70px;
    margin: 10px, 0, 20px, 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 300px;
}

p.caption {
    font-size: 14px;
    line-height: 0;
    margin-bottom: 20px;
}

p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

a {
    color: rgb(255, 186, 112, 1);
}

a:hover{
    color: rgb(156, 49, 49);
}

ul {
    padding-bottom: 40px;
}

footer {
    background-color:#043552;
}



footer .content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

/* wenn bildschirm kleiner wird kann man mit @media 
(max-width: 600px) ein neues css da drin aufmachen 
und andere sachen definieren */